<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MathToolbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AF083DF1C37B76F0076AC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF083F31C37B76F0076AC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF083FE1C37B76F0076AC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
